.top-bar-parent {
  width: 100vw;
  padding: 0rem;
  line-height: unset;
  .top-bar-container {
    overflow-x: scroll;
    z-index: 102;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    &::-webkit-scrollbar {
      display: none; /* WebKit */
    }
    .top-bar {
      min-width: 125rem;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      // background-color: var(--primaryBackgroud);

      .top-bar-content {
        min-width: 125rem;
        width: 125rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .top-bar-content-left {
          position: absolute;
          left: 0;
          .top-bar-content-left-logo {
            height: 20px;
            cursor: pointer;
          }
        }
        .top-bar-content-middle {
          background-color: var(--cardBackgroud);
          padding: 4px;
          border-radius: 12px;
          display: flex;
          align-items: center;
          gap: 10px;
          box-shadow: var(--boxShadowLg);

          .top-bar-content-middle-item {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            padding: 6px 12px;
            border-radius: 8px;
            cursor: pointer;

            .top-bar-content-middle-item-icon {
              height: 14px;
              width: 14px;
            }
            .top-bar-content-middle-item-text {
              font-size: 13px;
              font-weight: 500;
              color: var(--topBarText);
            }
            &:hover {
              background-color: var(--toBarBackgroundHover);
              .top-bar-content-middle-item-text {
                color: var(--toBarSelectedText);
              }
            }
          }
          .top-bar-content-middle-item-selected {
            background-color: var(--toBarSelectedBackground);
            pointer-events: none;
            .top-bar-content-middle-item-icon {
              path {
                fill: var(--toBarSelectedText);
              }
            }
            .top-bar-content-middle-item-text {
              color: var(--toBarSelectedText);
            }
          }
        }
        .top-bar-content-right {
          position: absolute;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          cursor: pointer;
          gap: 5px;
          .top-bar-content-right-sign-in-out {
            background-color: var(--cardBackgroud);
            padding: 10px 18px;
            border-radius: 12px;
            gap: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: var(--boxShadowLg);
            .top-bar-content-right-sign-in-out-icon {
              height: 15px;
              width: 15px;
            }
            .top-bar-content-right-sign-in-out-text {
              font-size: 13px;
              font-weight: 600;
              color: var(--primaryTextColor);
              line-height: 15.6px;
            }
            &:hover {
              background-color: var(--primaryTextColor);
              .top-bar-content-right-sign-in-out-text {
                color: var(--primaryBackgroud);
              }
              .top-bar-content-right-sign-in-out-icon {
                path {
                  stroke: var(--primaryBackgroud);
                }
              }
            }
          }
          .top-bar-content-right-green-dot {
            height: 6px;
            width: 6px;
            border-radius: 50%;
            border: 1px solid var(--strategyTopBarDotBorder);
            background-color: var(--strategyBuilderDarkNeon);
          }
          .top-bar-content-right-title {
            font-size: 13px;
            font-weight: 500;
            line-height: 15.6px;
            color: var(--profilePageBioEmail);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2px;
            .top-bar-content-right-title-icon {
              height: 10px;
              width: 10px;
              transform: translateY(-0.5px);
              path {
                stroke: var(--profilePageBioEmail);
              }
            }
          }
          .top-bar-content-right-amount {
            font-family: "Space Grotesk", sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 16px;
            text-align: center;
            border-bottom: 2px solid var(--strategyBuilderDarkerNeon);
            color: var(--primaryTextColor);
          }
        }
      }
    }
  }
}
