.strategy-discovery-page {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: var(--primaryTextColor);
  .strategy-discovery-page-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .strategy-discovery-page-heading {
      box-shadow: inset 0 0 10px var(--boxShadowColorLg);
      background-color: var(--strategyBuilderBackGround);
      background-image: var(--strategyBuilderBackGroundImage);
      border-radius: 8px;
      position: relative;
      background-position: center;
      background-size: 12px;
      background-repeat: space;
      width: 100%;
      min-height: 11rem;
      .strategy-discovery-page-heading-images {
        width: 100%;
      }
      .strategy-discovery-page-heading-text {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition-duration: 300ms;
        .strategy-discovery-page-heading-text-subheading {
          font-size: 13px;
          font-weight: 500;
          color: var(--currenyConvertorText);
        }
        .strategy-discovery-page-heading-text-heading {
          font-size: 16px;
          font-weight: 600;
          color: var(--primaryTextColor);
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          position: relative;
          .strategy-discovery-page-heading-text-heading-icon {
            height: 16px;
            position: absolute;
            right: 0;
            transform: translateX(calc(100% + 5px));
          }
        }
      }
      cursor: pointer;
      &:hover {
        .strategy-discovery-page-heading-text {
          scale: 1.05;
        }
      }
    }
    .strategy-discovery-page-content-block {
      width: 100%;
      // align-self: stretch;
      display: flex;
      flex-direction: column;
      .discover-strategy-table-name-container {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        overflow: hidden;
        width: 100%;
        padding-left: 6px;
        .discover-strategy-table-name {
          padding: 4px;
          gap: 4px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
          .discover-strategy-table-name-circle {
            height: 15px;
            width: 15px;
            min-height: 15px;
            min-width: 15px;
          }
        }
        .discover-strategy-table-name-title {
          font-size: 15px;
          color: var(--strategyDiscoveryTableTitleColor);
          text-shadow: 0.01px 0 var(--strategyDiscoveryTableTitleColor);
        }
        .discover-strategy-table-date {
          color: var(--profilePageStrategyDate);
          font-size: 10px;
          font-weight: 500;
          padding: 0px 4px;
        }
      }
      .btpcb-title-discovery-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        .btpcb-title {
          font-weight: 600;
          font-size: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          .btpcb-discover-time-range-table {
            display: flex;
            align-items: center;
            -webkit-user-select: none; /* Safari */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+/Edge */
            user-select: none; /* Standard */
            height: 3rem;
            .time-cal-badge {
              // width: 100%;
              cursor: pointer;
              height: 100%;
              display: flex;
              align-items: stretch;
              justify-content: center;
              padding: 0;
              color: var(--primaryTextColor);
              opacity: 1;
              font-weight: 500;
              font-size: 16px;
              .btpcb-discover-calendar-Container {
                height: 100%;
                .btpcb-discover-calendar-Text {
                  height: 100%;
                  color: var(--primaryTextColor);
                  padding: 0rem !important;
                }
              }

              .btpcb-discover-calendar-Container {
                position: relative;
                .btpcb-discover-calendar-Text {
                  padding: 0rem 1rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }
              }
              &:hover {
                text-decoration: underline;
              }
            }
            .time-no-cal-badge {
              // width: 100%;
              background-color: transparent;
              border-radius: 0.8rem;
              border: 0.1rem solid transparent;
              color: var(--primaryTextColor);
              cursor: default;
              text-align: center;
              padding: 1.125rem 1rem;
              font-weight: 500;
              font-size: 16px;
            }
            .time-no-cal-badge-no-left {
              padding-left: 0;
            }
          }
          .btpcb-discover-time-range-table-hidden {
            opacity: 0;
            pointer-events: none;
          }
        }
        .btpcb-discover-search-container {
          .btpcb-discover-search-input {
            border: 1px solid var(--strategyBuilderPopUpAssetBorder);
            border-radius: 8px;
            height: calc(3.5rem - 1px);
            padding: 0rem 0.8rem;
            outline: none;
            width: 100%;
            box-shadow: var(--boxShadowLg);
            &:hover {
              &::placeholder {
                color: var(--primaryTextColor);
              }
            }
          }
        }
        .btpcb-discover-time-range-table {
          display: flex;
          align-items: center;
          -webkit-user-select: none; /* Safari */
          -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* IE10+/Edge */
          user-select: none; /* Standard */
          height: 3rem;
          gap: 5px;
          .time-cal-badge {
            // width: 100%;

            display: flex;
            align-items: center;
            gap: 8px;
            justify-content: center;
            padding: 0;
            color: var(--primaryTextColor);
            opacity: 1;
            font-weight: 600;
            font-size: 14px;

            border-radius: 6px;

            .btpcb-discover-calendar-Container {
              height: 100%;
              .btpcb-discover-calendar-Text {
                height: 100%;
                color: var(--primaryTextColor);
                padding: 0rem !important;
              }
            }

            .btpcb-discover-calendar-Container {
              position: relative;
              .btpcb-discover-calendar-Text {
                padding: 0rem 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
            .btpcb-discover-calendar-icon {
              height: 12px;
              width: 12px;
            }
          }
          .time-cal-badge-right-cal {
            .intelligenceCalendar {
              right: 0;
              transform: translateY(calc(-100% - 10px)) translateX(30px);
            }
          }
          .time-no-cal-badge {
            // width: 100%;
            background-color: transparent;
            color: var(--tableHeaderColor);
            cursor: default;
            text-align: center;
            // padding: 1.125rem 1rem;
            font-weight: 600;
            font-size: 13px;
          }
          .time-no-cal-badge-no-left {
            padding-left: 0;
          }
        }
      }
      .btpcb-desc {
        font-weight: 500;
        font-size: 12px;
        margin-bottom: 1rem;
      }

      .btpcb-left-block {
        box-shadow: inset 0 0 10px var(--boxShadowColorLg);
        background-color: var(--strategyBuilderBackGround);
        background-image: var(--strategyBuilderBackGroundImage);
        border-radius: 12px;
        flex: 1;
        position: relative;
        background-position: center;
        background-size: 12px;
        background-repeat: space;

        overflow-y: scroll;
        .btpcb-left-block-items {
          width: 61rem;
          position: relative;
          z-index: 2;
          margin-top: 5px;
        }
        .btpcb-left-block-background {
          position: absolute;
          width: 61rem;
          left: 0;
          top: 0;
          z-index: 1;
        }
      }
      .btpcb-right-table-container {
        background-color: var(--cardBackgroud);
        border-radius: 8px;
        padding: 6px 5px;
        padding-bottom: 0.5rem;
        box-shadow: var(--boxShadowMd);
        .inter-display-medium {
          font-weight: 500;
          color: var(--strategyDiscoveryTableTitleColor);
        }
        .strategy-builder-table-strategy-name-container {
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          .strategy-builder-table-strategy-name {
            padding: 4px;
            gap: 4px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .strategy-builder-table-strategy-name-circle {
              height: 15px;
              width: 15px;
              min-height: 15px;
              min-width: 15px;
            }
          }
          .strategy-builder-table-strategy-name-title {
            font-size: 14px;
            color: var(--strategyDiscoveryTableTitleColor);
            font-weight: 600;
          }
        }
        .table-wrapper {
          .transaction-table-loading-wrapper {
            .animation-wrapper {
              height: 670px;
            }
          }
          .not-found-wrapper {
            height: 20rem;
          }
          .animation-wrapper {
            height: 20rem;
          }
          .ReactVirtualized__Table__headerRow {
            height: fit-content !important;
            border-bottom: 0rem !important;
            margin-bottom: 5px;
            .ReactVirtualized__Table__headerColumn {
              align-self: stretch;
              width: 100%;
              padding: 0;
              .ReactVirtualized__Table__headerTruncatedText {
                width: 100%;
                height: 100%;

                .history-table-header-col {
                  height: 100%;
                  background-color: var(--strategyDiscoveryTableHeader);
                  // opacity: 0.5;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  padding: 1rem;
                  box-sizing: border-box !important;
                  overflow: hidden;

                  text-align: center;
                  pointer-events: none;
                  .inter-display-medium {
                    color: var(--tableData);
                    font-weight: 600;
                  }
                  .table-sort-icon-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 5px;
                    pointer-events: all;
                    cursor: pointer;
                    &:hover {
                      .table-sort-icon {
                        filter: var(--hoverBrightnessValue);
                      }
                    }
                    .table-sort-icon-rotateDown {
                      transform: rotate(0deg);
                    }
                    .table-sort-icon-rotateUp {
                      transform: rotate(180deg);
                    }
                  }
                }

                .history-table-header-col-curve-left {
                  border-top-left-radius: 0.7rem;
                  border-bottom-left-radius: 0.7rem;
                }
                .history-table-header-col-curve-right {
                  border-top-right-radius: 0.7rem;
                  border-bottom-right-radius: 0.7rem;
                  border-right: 0rem;
                }
              }
            }
          }
          .ReactVirtualized__Table__Grid {
            gap: 5px;
            .ReactVirtualized__Table__row {
              cursor: pointer;

              .ReactVirtualized__Table__rowColumn {
                height: 100%;
                padding: 0rem;

                .full-table-row-col-width {
                  height: 100%;
                  padding: 0rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap: 5px;
                  .full-table-row-col-width-arrow {
                    height: 10px;
                    width: 10px;
                  }
                  .full-table-row-col-width-arrow-reverse {
                    transform: rotate(180deg);
                  }
                }
              }
              &:hover {
                border-radius: 0.7rem;
                background-color: var(--strategyDiscoveryTableColHover);
                border-bottom-color: transparent;
              }
            }
            &::-webkit-scrollbar {
              width: 0.4rem;
              height: 0rem;
            }

            &::-webkit-scrollbar-thumb {
              border-radius: 0.8rem;
              background-color: #cacbcc;
            }

            &::-webkit-scrollbar-track {
              background-color: rgba(229, 229, 230, 0.5);
              margin: 1rem 0rem;
              border-radius: 0.8rem;
            }
          }
          .ReactVirtualized__Table__row:not(:last-child) {
            border-bottom: 0.5px solid var(--strategyDiscoveryTableSeperator);
          }
        }
      }
    }
    .strategy-discovery-page-content-block-left {
      align-self: stretch;
      width: calc(55% - 1rem);
    }
  }
}
.strategy-discovery-page-mobile {
  .strategy-discovery-page-content {
    flex-direction: column;
    gap: 20px;
    .strategy-discovery-page-content-block-left {
      height: calc(100vh - 15em);
    }
    .strategy-discovery-page-content-block {
      width: 100%;
      .btpcb-right-table-container {
        padding: 2px;
      }
    }
  }
}
