.strategy-builder-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  user-select: none;
  overflow-y: scroll;
  // overflow-x: scroll;
  padding: 2rem;
  padding-bottom: calc(400px + 0.4rem);
  padding-right: 2.4rem;

  &::-webkit-scrollbar {
    width: 0rem;
    height: 0rem;
  }
  &:hover {
    padding-right: 2rem;
    padding-bottom: 400px;
    &::-webkit-scrollbar {
      width: 0.4rem;
      height: 0.4rem;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 0.8rem;
      background-color: #cacbcc;
    }
    &::-webkit-scrollbar-track {
      background-color: rgba(229, 229, 230, 0.5);
      border-radius: 0.8rem;
      margin: 2rem;
      // margin-bottom: 2rem;
    }
  }

  .sbc-empty-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    height: 100%;
    .sbc-empty {
      flex: 1;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      .sbc-empty-image {
        height: 45px;
      }
      .sbc-empty-text {
        font-size: 16px;
        text-shadow: 0.1px 0 var(--strategyBuilderEmptyText);
        color: var(--strategyBuilderEmptyText);
        text-align: center;
      }
    }
    .sbc-empty-options-container-container {
      width: 100%;
      .sbc-empty-options-container {
        width: 100%;
        background-color: var(--cardBackgroud);
        padding: 12px;
        border-radius: 12px;
        margin-bottom: 2rem;
      }
    }
  }
  .sbc-logic-container {
    // background-color: red;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
.strategy-builder-container-empty {
  padding: 2rem;
  padding-bottom: 0rem;
  &:hover {
    padding: 2rem;
    padding-bottom: 0rem;
    &::-webkit-scrollbar {
      width: 0rem;
      height: 0rem;
    }
  }
}
.btpcb-builder-title-undo-redo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 101;
  position: absolute;
  right: 0;
  transform: translateY(calc(100% + 1.4rem)) translateX(-2rem);
  .btpcb-builder-title-undo-redo-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    background-color: var(--cardBackgroud);
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    box-shadow: var(--boxShadowMd);

    .btpcb-builder-title-undo-redo-icon {
      cursor: pointer;
      height: 14px;
      width: 14px;
      filter: var(--invertColor);
    }
    &:hover {
      background-color: var(--primaryTextColor);
      .btpcb-builder-title-undo-redo-icon {
        filter: var(--invertColorHover);
      }
    }
  }
  .btpcb-builder-title-undo-redo-item-disabled {
    cursor: default;
    background-color: var(--primaryDropdownBackground);
    pointer-events: none;

    .btpcb-builder-title-undo-redo-icon {
      opacity: 0.4;
    }
  }
}
.strategy-builder-container-mobile {
  padding-bottom: 20rem;
}
.strategy-builder-empty-container-mobile {
  padding: 1rem;
  .sbc-empty-container {
    .sbc-empty-options-container-container {
      .sbc-empty-options-container {
        margin-bottom: 0rem;
      }
    }
  }
}
.btpcb-builder-title-undo-redo-container-mobile {
  .btpcb-builder-title-undo-redo-icon {
    &:hover {
      opacity: 1;
    }
    &:active {
      opacity: 1;
    }
  }
}
