.back-test-strategy-pop-up-dropdown-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .back-test-strategy-pop-up-dropdown {
    background-color: var(--strategyBuilderSaveStrategyBackground);
    border: 1px solid var(--strategyBuilderSaveStrategyBorder);
    border-radius: 6px;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 15px;
    gap: 5px;
    width: fit-content;
    .back-test-strategy-pop-up-dropdown-light {
      color: var(--strategyBuilderDropdownLightText);
    }
    .back-test-strategy-pop-up-dropdown-icon {
      height: 12px;
    }
    .back-test-strategy-pop-up-dropdown-icons-container {
      display: flex;
      align-items: center;
      .back-test-strategy-pop-up-dropdown-icon-container {
        width: 16px;
        height: 16px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -8px;
        .back-test-strategy-pop-up-dropdown-icon {
          height: 12px;
        }
      }
    }
    &:hover {
      background-color: var(--strategyBuilderSaveStrategyBorder);
    }
    // background-color: var(--strategyBuilderLightGrey);
  }
  .back-test-strategy-pop-up-dropdown-popup {
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 1px solid var(--strategyBuilderChartPopUpAssetBorder);
    background-color: var(--cardBackgroud);
    box-shadow: var(--boxShadowLg);
    padding: 8px 4px;
    margin-top: 8px;
    border-radius: 12px;
    bottom: 0;
    right: 0;
    transform: translateY(calc(100% + 0.4rem));
    width: 20rem;
    z-index: 10;

    .back-test-strategy-popup-search-container {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 100%;
      padding: 0px 4px;
      .back-test-strategy-popup-search {
        flex: 1;
        border: 1px solid var(--strategyChartDropdownTextInput);
        border-radius: 6px;
        .back-test-strategy-popup-search-input {
          border-radius: 5px;
          height: calc(3.5rem - 1px);
          padding: 0rem 0.8rem;
          border: none;
          outline: none;
          width: 100%;
        }
        &:hover {
          border: 1px solid var(--blockOneHeaderGradSecondary);
          .back-test-strategy-popup-search-input {
            &::placeholder {
              color: var(--primaryTextColor);
            }
          }
        }
      }
    }
    .back-test-strategy-popup-item-container {
      display: flex;
      flex-direction: column;
      gap: 5px;
      max-height: 30rem;
      overflow-y: scroll;
      padding: 0px 4px;
      margin: 8px 0px;
      &::-webkit-scrollbar {
        width: 0.4rem;
        height: 0rem;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 0.8rem;
        background-color: #cacbcc;
      }

      &::-webkit-scrollbar-track {
        background-color: rgba(229, 229, 230, 0.5);
        border-radius: 0.8rem;
      }
      .back-test-strategy-popup-list-item {
        height: fit-content;
        margin: 0rem 0.2rem;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        box-sizing: border-box;
        cursor: pointer;
        border: 1px solid transparent;
        .back-test-strategy-popup-list-item-check-icon {
          height: 12px;
        }
        .back-test-strategy-popup-list-item-icon-name {
          display: flex;
          align-items: center;
          gap: 8px;
          .back-test-strategy-popup-list-item-icon-container {
            width: 16px;
            height: 16px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            .back-test-strategy-popup-list-item-icon {
              height: 12px;
            }
          }
        }
        &:hover {
          background-color: var(--greyCardBackgroud);
        }
      }
      .back-test-strategy-popup-list-item-disabled {
        pointer-events: none;
        cursor: default;
      }
      .back-test-strategy-popup-list-item-selected {
        pointer-events: all;
        cursor: pointer;
        background-color: var(--strategyBuilderDropdownSelected);
        border: 1px solid var(--strategyBuilderBorder);
        &:hover {
          background-color: var(--strategyBuilderDropdownSelected);
          filter: contrast(0.8);
        }
      }
    }
    .back-test-strategy-accept-decline-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 5px;
      width: 100%;
      padding: 0px 4px;
      .back-test-strategy-accept-decline-button {
        flex: 1;
        padding: 8px 0px;
        font-size: 13px;
        border-radius: 8px;
        cursor: pointer;
        color: var(--strategyChartDropdownCancelText);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border: 1px solid transparent;

        &:hover {
          background-color: var(--primaryTextColor);
          color: var(--cardBackgroud);
        }
      }
      .back-test-strategy-accept-decline-button-highlighted {
        background-color: var(--strategyChartDropdownApplyText);
        color: var(--primaryTextColor);
        border: 1px solid #0000000d;
      }
      .back-test-strategy-accept-decline-button-disabled {
        pointer-events: none;
        cursor: default;
        opacity: 0.5;
      }
    }
  }
}
