.back-test-condition-builder {
  height: 100%;
  font-size: 13px;
  font-weight: 600;
  .back-test-condition-builder-grey-text {
    color: var(--primarySubTextColor);
    // text-shadow: 0.4px 0 var(--primarySubTextColor);
    font-weight: 500;
  }
}
