.back-test-weight-percentage {
  height: 100%;
  font-size: 13px;
  .back-test-weight-percentage-title {
    font-weight: 600;
    text-transform: lowercase;
    &::first-letter {
      text-transform: uppercase;
    }
  }
}
