.sbb-edit-delete-options {
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0px 7px;
  right: 0;
  opacity: 0;
  // pointer-events: none;

  .sbb-edit-delete-options-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 31px;
    width: 31px;
    border-radius: 8px;
    background-color: var(--cardBackgroud);
    border: 1px solid var(--strategyBuilderSaveStrategyBorder);
    cursor: pointer;
    .sbb-edit-delete-options-block-image {
      width: 15px;
      height: 15px;
    }
    &:hover {
      background-color: var(--strategyBuilderDarkGrey);
      border-color: transparent;
    }
  }
  .sbb-edit-delete-options-delete {
    background-color: var(--strategyBuilderLightRed);
    border-color: var(--strategyBuilderSaveStrategyRedBorder);
    &:hover {
      background-color: var(--strategyBuilderDarkRed);
    }
  }
  .sbb-edit-delete-options-add {
    background-color: var(--strategyBuilderLightNeon);
    border-color: var(--strategyBuilderSaveStrategyNeonBorder);
    &:hover {
      background-color: var(--strategyBuilderDarkNeon);
    }
  }
}
.sbb-edit-delete-options-mobile {
  opacity: 1;
  .sbb-edit-delete-options-block {
    &:hover {
      background-color: var(--strategyBuilderLightGrey);
    }
  }
}
